<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="view port" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style>
    @-ms-viewport{
  width: device-width;
}
    .center_button {
      justify-content: center;
      align-items: center;
    }
    .container{
        justify-content: center;
      align-items: center;
      padding : 30%;
    }
    .right-button{
        align-items: right;
    }
    .heading{
        margin: auto;
  width: 26%;
  padding: 10px;
    }
    </style>
<body>
    <div class ="heading">
        <U><h1 align = "center">Rental Table</h1></U>
    </div>
        <div class="container" align = center>
         <!-- AddActor Reference in Actor Table -->
        <div class = "right-button">
        <a href="/openmenu" class="btn btn-primary">Go Back to Main Menu</a><br/><br/>
        </div>
        <div class = "center_button">
            <a href="/addrental" class="btn btn-primary">Add Rental Record</a><br/><br/>
        </div>
                <table class="table table-dark table-hover">
                        <thead>
                                <tr>
                                       <th>Rental ID</th> 
                                       <th>Rental Date</th>
                                       <th>Inventory ID</th>
                                        <th>Customer ID</th>
                                        <th>Return Date</th>
                                        <th>Staff ID</th>
                                        <th>Last Update</th>
                                        <th>Action</th>
                                    </tr>
                            </thead>
                        <tbody>
                <!-- Call Function for Each Element in the Table -->
                <% rental.forEach(function(rent){ %>
                <tr>
                    <td><%=rent.rental_id %></td>
                    <td><%=rent.rental_date %></td>
                    <td><%=rent.inventory_id %></td>
                    <td><%=rent.customer_id %></td>
                    <td><%=rent.return_date %></td>
                    <td><%=rent.staff_id %></td>
                    <td><%=rent.last_update %></td>
                    <td>
                        <!-- Edit and Delete Statements -->
                        <a href="/editrent?rental_id=<%=rent.rental_id %>"class="btn btn-primary">Edit</a>
                        <a href="/deleterent?rental_id=<%=rent.rental_id %>" onClick="return confirm('Are you Sure!')"class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% }); %>

             </tbody>
        </table>
            
    </div>
</body>

</html>